body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #666;
	background: #fff;
}
@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-huifu:before { content: "\e608"; }
.icon-job:before { content: "\e602"; }
.icon-fanhui:before { content: "\e607"; }
.icon-dianzan:before { content: "\e609"; }
.icon-shouye:before { content: "\e600"; }
.icon-fabu:before { content: "\e60b"; }
.icon-share:before { content: "\e603"; }
.icon-wode:before { content: "\e601"; }
.icon-good:before { content: "\e604"; }
.icon-xiaoxi:before { content: "\e60a"; }
.icon-top:before { content: "\e606"; }
.icon-ask:before { content: "\e605"; }
.icon-tuichu:before { content: "\e60c"; }
ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
ul {
	style-type: none;
}
a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #333;
	text-decoration: underline;
}
a:active {
	color: #333;
	text-decoration: underline;
}
h2 {
	font-size: 18px;
}
.signin-header {
	display: flex;
	align-items: center;
	background: #80bd01;
	height: 50px;
	font-size: 16px;
}
.signin-header .fanhui {
	width: 10px;
	margin-left: 10px;
}
.signin-header .fanhui a {
	color: #fff;
}
.signin-header .content {
	flex: 1;
	text-align: center;
	color: #fff;
}
.signin {
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signin .content {
	width: 280px;
}
.signin .content .text {
	margin-bottom: 30px;
}
.signin .content .text input {
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px 10px;
	line-height: 28px;
	border: 1px solid #eee;
}
.signin .content input[type="button"] {
	display: block;
	width: 100%;
	padding: 5px 10px;
	border-radius: 5px;
	background: #80bd01;
	border: none;
	line-height: 28px;
	color: #fff;
}
.user-center {
	display: flex;
	align-items: center;
	height: 50px;
	background: #80bd01;
	color: #fff;
}
.user-center .content {
	flex: 1;
	text-align: center;
}
.user-center .icon {
	margin-right: 5px;
}
.user-center .icon a {
	color: #fff;
}
.user-index .user-headimg {
	width: 82px;
	height: 82px;
	background-size:82px 82px;
	border-radius: 50%;
}
.user-index .headimg .headimg-item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-index .headimg .name {
	text-align: center;
	margin-top: 5px;
}
.user-index .headimg .score {
	text-align: center;
	padding: 5px;
}
.user-index .headimg {
	background: #87c701;
	color: #fff;
}
.user-index .tab-nav {
	display: flex;
	background: #eee;
	height: 40px;
	align-items: flex-end;
}
.user-index .tab-nav div {
	flex: 1;
	text-align: center;
	cursor: pointer;
}
.user-index .tab-nav div {
	padding: 5px;
}
.user-index .tab-nav div.current {
	border-bottom: 3px solid #80bd01;
}
.user-index .list li {
	display: flex;
	border-bottom: 1px solid #eee;
	height: 28px;
	line-height: 28px;
	padding: 5px 10px;
}
.user-index .list li a {
	flex: 1;
	text-decoration: none;
}
.hide {
	display: none;
}
.logout header {
	display: flex;
	text-align: center;
	height: 50px;
	background: #80bd01; 
	align-items: center;
	color: #fff;
}
.logout header .content {
	flex: 1;
}
.logout .container {
	display: flex; 
	justify-content: center; 
	align-items: center;
	height: 400px;
}
.logout .container .center {
	display: flex;
	justify-content: center;
}
.logout .container .center input {
	background: #e63e3e;
	display: block;
	border: none;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}
.topic header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background: #80bd01;
	color: #fff;
}
.topic header h2 {
	flex: 1;
	text-align: center;
}
.topic header .icon {
	cursor: pointer;
}
.topic .user {
	display: flex;
	padding: 10px;
}
.topic .user .icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: 40px 40px;
}
.topic .user .data {
	flex: 1;
	margin-left: 5px;
}
.topic h2.tit2 {
	padding: 10px;
	background: #eee;
}
.topic .content {
	padding: 10px;
}
.topic .content img {
	max-width: 100%;
}
.topic .tit3 {
	font-size: 14px;
	font-weight: normal;
	border-left: 8px solid #80bd01;
	background: #eee;
	padding: 5px 10px;
}
.re-list li {
	display: flex;
	padding: 10px 10px 0 10px;
}
.re-list li .headimg {
	width: 50px;
}
.re-list li .headimg .icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: 40px 40px;
}
.re-list li .main {
	flex: 1;
}
.re-list li .main .upper {
	display: flex;
}
.re-list li .main .upper time {
	margin-left: 5px;
	flex: 1;
}
.re-list li .main .bottom {
	display: flex;
	justify-content: flex-end;
}
.re-list li .main .bottom .zhan {
	cursor: pointer;
}
.re-list li .main .bottom .reply {
	margin-left: 5px;
	cursor: pointer;
}
.re-list li .main .bottom .zhan.up {
	color: #80bd01;
}
.re-list li .main .bottom .zhan em {
	font-style: normal;
	font-size: 14px;
}
.reply-box {
	padding: 10px;
}
.reply-box .text {
	margin-bottom: 10px;
}
.reply-box .text textarea {
	box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding: 10px;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 13px;
    resize: none;
}
.reply-box .btn-box {
	display: flex;
	justify-content: flex-end;
}
.reply-box .btn-box input {
	padding: 5px 30px;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid #6fa401;
    font-size: 14px;
    color: #fff;
    background: #80bd01;
}
.myMessages header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #80bd01;
	height: 50px;
}
.myMessages header h2 {
	font-size: 18px;
	font-weight: normal;
	color: #fff;
}
.user-headimg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: 40px 40px;
}
.myMessages .msg-box ul li {
	display: flex;
	padding: 10px;
}
.myMessages .msg-box ul li .righter {
	flex: 1;
	margin-left: 5px;
}
.myMessages .msg-box ul li .righter .name time {
	margin-left: 5px;
}
.myMessages .msg-box ul li .righter .reply a {
	color: #80bd01;
}
.flex {
	display: flex;
}
.async-app .caption {
	margin-top: 38px;
	margin-bottom: 50px;
}
.async-app .caption ul li {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.async-app .caption ul li h3 {
	flex: 1;
}
.async-app .caption .bottom .con {
	flex: 1;
}
.user-headimg {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}
.async-app .caption .bottom .name {
	flex: 1;
}
.async-app .caption .bottom time.first {
	flex: 1;
}
.async-app .caption ul li a:hover {
	text-decoration: none;
}
.topic-create header {
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #80bd01;
	height: 50px;
}
.topic-create header h2 {
	display: flex;
	justify-content: center;
	flex: 1;
}
.topic-create header .icon {
	margin-right: 5px;
	cursor: pointer;
}
.topic-create header .iconfont {
	font-size: 24px;
}
.topic-create .content .item {
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #444;
}
.topic-create .content .item select {
	display: block;
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    font-size: 13px;
    color: #222;
    border: none;
    outline: none;
}
.topic-create .content input {
	box-sizing: border-box;
    width: 100%;
    line-height: 28px;
    font-size: 13px;
    border: none;
    outline: none;
}
.topic-create .content textarea {
	box-sizing: border-box;
    width: 100%;
    height: 300px;
    line-height: 24px;
    font-size: 13px;
    resize: none;
    border: none;
    outline: none;
}
.async-app header nav ul {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	list-style: none;
	background: #80bd01;
}
.async-app header nav ul li {
	width: 0;
	line-height: 38px;
	flex: 1;
	position: relative;
	display: block;
}
.async-app header nav ul li a {
	display: block;
	text-align: center;
	color: #fff;
}
.async-app header nav ul li a:hover {
	text-decoration: none;
}
.async-app header nav ul li:not(:first-child):after {
	position: absolute;
    top: 10px;
    bottom: 10px;
    content: "";
    border-left: 1px solid #5e8a01;
    border-right: 1px solid #a2f001;
}
.async-app header nav ul li.on a {
	margin: 5px 10px;
    line-height: 28px;
    border-radius: 8px;
    background: #5e8a01;
}
footer.common-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #80bd01;
}
footer.common-footer nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
footer.common-footer nav ul li {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50px;
}
footer.common-footer nav ul li.on {
	background: #87c701;
}
footer.common-footer nav ul li a {
	color: #fff;
	flex: 1;
}
footer.common-footer nav ul li a:hover {
	text-decoration: none;
}
footer.common-footer nav ul li a i {
	display: block;
}
.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body .pl-c {
  color: #969896;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #0086b3;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #795da3;
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
  color: #333;
}

.markdown-body .pl-ent {
  color: #63a35c;
}

.markdown-body .pl-k {
  color: #a71d5d;
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: #183691;
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
  color: #ed6a43;
}

.markdown-body .pl-bu {
  color: #b52a1d;
}

.markdown-body .pl-ii {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.markdown-body .pl-c2 {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.markdown-body .pl-c2::before {
  content: "^M";
}

.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #63a35c;
}

.markdown-body .pl-ml {
  color: #693a17;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  font-weight: bold;
  color: #1d3e81;
}

.markdown-body .pl-mq {
  color: #008080;
}

.markdown-body .pl-mi {
  font-style: italic;
  color: #333;
}

.markdown-body .pl-mb {
  font-weight: bold;
  color: #333;
}

.markdown-body .pl-md {
  color: #bd2c00;
  background-color: #ffecec;
}

.markdown-body .pl-mi1 {
  color: #55a532;
  background-color: #eaffea;
}

.markdown-body .pl-mc {
  color: #ef9700;
  background-color: #ffe3b4;
}

.markdown-body .pl-mi2 {
  color: #d8d8d8;
  background-color: #808080;
}

.markdown-body .pl-mdr {
  font-weight: bold;
  color: #795da3;
}

.markdown-body .pl-mo {
  color: #1d3e81;
}

.markdown-body .pl-ba {
  color: #595e62;
}

.markdown-body .pl-sg {
  color: #c0c0c0;
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #183691;
}

.markdown-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.markdown-body a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: inherit;
}

.markdown-body strong {
  font-weight: bolder;
}

.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown-body img {
  border-style: none;
}

.markdown-body svg:not(:root) {
  overflow: hidden;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.markdown-body input {
  font: inherit;
  margin: 0;
}

.markdown-body input {
  overflow: visible;
}

.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body a {
  color: #0366d6;
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown-body hr::before {
  display: table;
  content: "";
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body h1 {
  font-size: 32px;
  font-weight: 600;
}

.markdown-body h2 {
  font-size: 24px;
  font-weight: 600;
}

.markdown-body h3 {
  font-size: 20px;
  font-weight: 600;
}

.markdown-body h4 {
  font-size: 16px;
  font-weight: 600;
}

.markdown-body h5 {
  font-size: 14px;
  font-weight: 600;
}

.markdown-body h6 {
  font-size: 12px;
  font-weight: 600;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body .octicon {
  vertical-align: text-bottom;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .pl-3 {
  padding-left: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.markdown-body code::before,
.markdown-body code::after {
  letter-spacing: -0.2em;
  content: "\A0";
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body pre code::before,
.markdown-body pre code::after {
  content: normal;
}

.markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdown-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown-body hr {
  border-bottom-color: #eee;
}
.signin-header .fanhui {
	color: #fff;
	cursor: pointer;
}